<div class="container-fluid">
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4"><p style="font-size:45px;text-align:center;" class="text-info

">{{timer}}</p></div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4"> <button [ngClass]="{
                'btn': true,
                'btn-danger': timerStatus === STOPPED,
                'btn-success': timerStatus !== STOPPED

              }" (click)="onToggle()">{{buttonText}}</button>

    </div>
    <div class="col-lg-4"></div>
  </div>
  <div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4 bg-info" *ngIf="hideMessage"
      (click)="onHideMessage()"
      style="font-size:20px;text-align:center;">
      <span *ngIf="timerStatus === STOPPED " class=" text-white">
        Timer Started!
      </span>
      <span *ngIf="timerStatus === STARTED " class="text-white">Timer
        stopped!</span> <b>X</b>
    </div>
    <div class="col-lg-4"></div>
  </div>
</div>
