<!-- @format -->

<div class="row">
	<div class="card" [ngStyle]="this.cardStyles()">
		<div class="card-title">
			<new-item-title
				(metadataEvent)="this.storeMetadata('main-title', $event)"
			></new-item-title>
			<div
				*ngIf="
					!this.metadata.isFirstTime &&
					this.titleIsNotEmpty() &&
					this.metadata.isNotEditable
				"
			>
				<div class="col">
					<span class="fa fa-tasks"></span> {{ this.metadata.id }}</div
				>
				<div class="col"
					><a href="#"> {{ this.metadata.title }}</a></div
				>
			</div>
		</div>
		<div class="card-body" *ngIf="!metadata.isFirstTime">
			<div class="row"
				><div class="col"> <app-repeat></app-repeat> </div
			></div>
			<div class="row">
				<div class="col">
					<button class="btn" (click)="this.createNewItem()">
						<span class="fa fa-tasks"></span> 0/{{
							this.childCounter.length
						}}</button
					>
				</div>
				<div class="col"> Tasks </div>
			</div>
			<div class="row" *ngFor="let item of this.childCounter">
				<div class="col">
					<new-item-title
						(metadataEvent)="this.storeMetadata('child-title', $event)"
					></new-item-title>
				</div>
			</div>
		</div>
	</div>
</div>
