.logo {
  transform: "rotate(-5deg)";
}

.logo-main {
  font-size: 20px;
  border-top: "2px solid rgb(24, 34, 158)";
  color: rgb(24, 34, 158);
}

.logo-secondary {
  font-size: 12px;
  text-transform: capitalize;
}

.logo-secondary:hover {
  color: rgb(24, 34, 158);
}
.logo-item {
  border: 2px solid rgb(24, 34, 158);
}

.logo:hover {
  color: rgb(24, 34, 158);
}
