<!-- @format -->

<div class="row">
	<div class="col col-lg-12 d-flex justify-content-center">
		<h4>{{ this.metadata.title }}</h4>
	</div>
</div>
<div *ngIf="!this.metadata.quickLog">
	<div class="row">
		<div class="col"></div>
		<div class="col col-lg-3 d-flex justify-content-end form-group">
			<label for="category" class="text-muted">Category: </label> &nbsp;
			<select name="category" id="category" class="custom-select" #category>
				<option value="1">1</option>
			</select>
		</div>
		<div class="col"></div>
	</div>
	<div class="row">
		<div class="col"></div>
		<div class="col col-lg-3 d-flex justify-content-center form-group">
			<label for="reason" class="text-muted">Reason: </label> &nbsp;
			<textarea
				name="reason"
				id="reason"
				cols="5"
				rows="5"
				class="form-control"
				style="padding: 2px; margin: 5px"
				[(ngModel)]="this.reason"
			></textarea>
		</div>
		<div class="col"></div>
	</div>
</div>
<div class="row">
	<div class="col d-flex justify-content-end">
		<a
			href="#"
			data-toggle="modal"
			data-target="#confirmMessageModal"
			(click)="this.onCancel()"
		>
			Cancel
		</a>
	</div>
	<div class="col d-flex justify-content-start">
		&nbsp;
		<button class="btn btn-primary" (click)="this.onConfirm()">Confirm</button>
	</div>
</div>
